<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Tab_Android"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ComCom"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ViewPagerExample"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".FirstPopupActivity"
                    android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".loginAndSignUP.LoginActivity"
            android:noHistory="true"/>
        <activity
            android:name=".loginAndSignUP.JoinActivity"
            android:noHistory="true" />
        <activity android:name=".Tab2.ShowBoardActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name=".Tab2.ShowPostActivity"
            android:theme="@style/AppTheme"/>

        <activity android:name=".Tab2.WritePostActivity" />
        <activity android:name=".InfoActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB529yYfuW1-z2xvQ-x7_AZ9aYFDTctRzk" />
    </application>

</manifest>